################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DotnetQuestion/.vs/DotnetQuestion/v17
/DotnetQuestion/DotnetQuestion/obj
/DotnetQuestion/.vs/DotnetQuestion/DesignTimeBuild
/DotnetQuestion/DotnetQuestion/bin/Debug/net6.0
/DotnetQuestion/.vs
/DotnetQuestion/DockerExample/app
/DotnetQuestion/DockerExample/bin
/DotnetQuestion/DockerExample/obj
